<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>管理后台</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}"
          href="/css/buttons.css"/>
    <link rel="stylesheet" th:href="@{/css/messenger.css}"
          href="/css/messenger.css"/>
    <link rel="stylesheet" th:href="@{/css/messenger-theme-flat.css}"
          href="/css/messenger-theme-flat.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
          href="/css/font-awesome.min.css"/>
</head>
<body>
<div th:replace="navigation::pagination"></div>
<div class="container" style="margin-top: 2%">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <div class="input-group">
                <input type="text" class="form-control" id="noteName" placeholder="文章名称...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control" id="category" placeholder="分类...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-3">
            <div class="input-group">
                <select class="form-control" id="state">
                    <option value="">博客类型</option>
                    <option value="3">私密</option>
                    <option value="2">草稿</option>
                    <option value="1">公开博客</option>
                </select>
            </div><!-- /input-group -->
        </div>
        <button class="btn btn-success" id="search1">搜索</button>
    </div><!-- /.row -->
    <hr/>
    <div style="margin-bottom: 2%;margin-top: 2%" class="col-sm-10">
        共 <span class="label label-danger" th:text="${data.pageCount}" style="font-size: 15px"></span> 页 <span
            class="label label-primary"
            th:text="${data.total}" style="font-size: 15px"></span> 条数据,
        当前第　<span class="label label-warning" style="font-size: 15px" th:text="${data.current}"></span>　页
    </div>
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>名称</th>
                <th class="text-center">分类</th>
                <th class="text-center">作者</th>
                <th class="text-center">类型</th>
                <th class="text-center">创作时间</th>
                <!--<th class="text-center">修改时间</th>-->
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record:${data.records}">
                <td><a th:href="@{'/note/view?id='+${record.id}}" class="glyphicon glyphicon-list-alt text-primary"
                       target="_blank" style="text-decoration: blue;text-decoration-line: none">
                    <span th:text="${record.noteName}"></span></a></td>
                <td><span class="glyphicon glyphicon-tasks text-info"></span> <span th:text="${record.category}"></span>
                </td>
                <td class="text-center"><span class="glyphicon glyphicon-user text-success"></span> <span
                        th:text="${record.creator}"></span></td>
                <td th:if="${record.state=='1'}" class="text-center"><i class="icon-star-empty"></i> 公开博客</td>
                <td th:if="${record.state=='2'}" class="text-center"><i class="icon-star"></i> 草稿</td>
                <td th:if="${record.state=='3'}" class="text-center"><i class="icon-lock"></i> 私密</td>
                <td th:if="${record.state=='4'}" class="text-center"><i class="icon-bullhorn"></i> 公告</td>
                <td class="text-center"><span class="glyphicon glyphicon-time text-danger"></span> <span
                        th:text="${record.createDate}"></span></td>
                <!--<td><span class="glyphicon glyphicon-time text-info"></span> <span th:text="${record.modifyDate}"></span></td>-->
                <td class="text-center">
                    <a th:href="@{'/note?id='+${record.id}}" class="text-danger"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                    　 <a th:value="${record.id}" id="delete" 　class="text-warning"><span
                        class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-10">
        <ul class="pager" style="font-weight: bold;font-size: 15px">
            <li>
                <a href="/note/list?pageNum=1&size=10">
                    <span>首页</span>
                </a>
            </li>
            <li th:switch="${data.current}">
                <a th:case="1" href="#" aria-label="Previous" class="disabled">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <a th:case="*" th:href="@{'/note/list?pageNum='+${data.current-1}+'&size=10'}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:switch="${data.current}">
                <a th:case="${data.pageCount}" href="#" aria-label="Next" class="disabled">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <a th:case="*" th:href="@{'/note/list?pageNum='+${data.current+1}+'&size=10'}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li>
                <a th:href="@{'/note/list?'+'pageNum='+${data.pageCount}+'&size=10'}">
                    <span>尾页</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
<script th:src="@{/js/messenger.min.js}" src="/js/messenger.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/list.js"></script>
<script src="/js/common.js"></script>
</body>
</html>