<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>分类</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}"
          href="/css/buttons.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
          href="/css/font-awesome.min.css"/>
</head>
<body>
<div th:replace="navigation::pagination"></div>
<div class="container" style="margin-top: 4%">
    <div class="jumbotron">
        <div><p><span class="text-danger"><i class="icon-remove"></i></span>Github授权　<i class="icon-arrow-right"></i>　设置登录密码　<i class="icon-arrow-right"></i>　注册完成</p></div>
        <h2><span class="text-danger"><i class="icon-remove-sign"></i></span> 该Github账号已授权，不可重复授权</h2>
        <p><a class="button button-3d button-caution button-rounded" href="/user/signin">去登录</a>　　<a href="/"
                                                                                                   class="button button-3d button-inverse button-rounded">首页</a>
        </p>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>