<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>分类</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}"
          href="/css/buttons.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
          href="/css/font-awesome.min.css"/>
</head>
<body>
<div th:replace="navigation::pagination"></div>
<div class="container" style="margin-top: 4%">
    <div class="jumbotron">
        <div><p><span class="text-success"><i class="icon-ok"></i></span>Github授权　<i class="icon-arrow-right"></i>　<span class="text-success"><i class="icon-ok"></i></span>设置登录密码　<i class="icon-arrow-right"></i>　<span class="text-success"><i class="icon-ok"></i></span>注册完成</p></div>
        <h2><span class="text-success"><i class="icon-ok-sign"></i></span> 密码设置成功</h2>
        <div style="margin-top: 5%;margin-bottom: 5%">
        <h4>请妥善保管好你的密码,本站会自动对你的密码进行加密并承诺保证您的密码安全，如因个人责任导致密码泄露，本站概不负责</h4>
        </div>
        <p><a class="button button-3d button-primary button-pill" href="/note/list?pageNum=1&size=10">个人主页</a>　　<a href="/" class="button button-3d button-action button-pill">首页</a></p>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>